---
layout: page
types:
  conf: Conference
  conference: Conference
  inproceedings: Conference
  proceedings: Conference
  workshop: Workshop
  tuto: Tutorial
  book: Book
  bookchapter: Book chapter
  inbook: Book chapter
  incollection: Book chapter
  journal: Journal
---

{% if page.groupby == "year" %}
    {% assign publicationsByYear = site.data[page.data-name] | group_by: "year" | sort: "name" %}
    <div class="years text-center btns-container">
    {% for year in publicationsByYear reversed %}
        <a class="btn btn-default" href="#{{ year.name | slugify }}">{{ year.name }}</a>
    {% endfor %}
    </div>
    {% for year in publicationsByYear reversed %}
        <h2 id="{{ year.name | slugify }}">{{ year.name }}</h2>
        {% assign publications = year.items | sort: "type" %}
        {% for publication in publications %}
            {% include publication.html %}
        {% endfor %}
    {% endfor %}
{% elsif page.groupby == "type" %}
    {% assign publicationsByType = site.data[page.data-name] | group_by: "type" %}
    <div class="types text-center btns-container">
    {% for type in publicationsByType %}
        <a class="btn btn-default" href="#{{ type.name | slugify }}">{{ layout.types[type.name] | default: type.name }}</a>
    {% endfor %}
    </div>
    {% for type in publicationsByType %}
        <h2 id="{{ type.name | slugify }}">{{ layout.types[type.name] | default: type.name }}</h2>
        {% assign publications = type.items | sort: "year" %}
        {% for publication in publications reversed %}
            {% include publication.html %}
        {% endfor %}
    {% endfor %}
{% else %}
    {% assign publications = site.data[page.data-name] | sort: "year" %}
    {% for publication in publications reversed %}
        {% include publication.html %}
    {% endfor %}
{% endif %}
